## 제 2회 실기 작업형 기출

- 데이터 중 컬럼들의 결측값을 전부 제거 후 데이터를 처음부터 순서대로 70%를 추출하여 변수 중 'tax'의 사분위수 Q1값을 구하시오

In [11]:
import pandas as pd 
data = pd.read_csv("../Data/boston_housing.csv", encoding="utf-8")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,pratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [12]:
print(len(data))
print(data.isnull().sum())

506
crim      0
zn        0
indus     0
chas      0
nox       0
rm        0
age       0
dis       0
rad       0
tax       0
pratio    0
b         0
lstat     0
medv      0
dtype: int64

In [13]:
data2 = data.dropna(axis = 1)
print(len(data2))

506

In [14]:
len(data2)*0.7

354.2

In [17]:
new_data = data2[:354]
new_data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,pratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,0.02899,40.0,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89,26.6
350,0.06211,40.0,1.25,0,0.429,6.490,44.4,8.7921,1,335,19.7,396.90,5.98,22.9
351,0.07950,60.0,1.69,0,0.411,6.579,35.9,10.7103,4,411,18.3,370.78,5.49,24.1
352,0.07244,60.0,1.69,0,0.411,5.884,18.5,10.7103,4,411,18.3,392.33,7.79,18.6
353,0.01709,90.0,2.02,0,0.410,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1

In [19]:
help(pd.DataFrame.quantile)

Help on function quantile in module pandas.core.frame:

quantile(self, q=0.5, axis: 'Axis' = 0, numeric_only: 'bool' = True, interpolation: 'str' = 'linear')
    Return values at the given quantile over requested axis.

    Parameters
    ----------
    q : float or array-like, default 0.5 (50% quantile)
        Value between 0 <= q <= 1, the quantile(s) to compute.
    axis : {0, 1, 'index', 'columns'}, default 0
        Equals 0 or 'index' for row-wise, 1 or 'columns' for column-wise.
    numeric_only : bool, default True
        If False, the quantile of datetime and timedelta data will be
        computed as well.
    interpolation : {'linear', 'lower', 'higher', 'midpoint', 'nearest'}
        This optional parameter specifies the interpolation method to use,
        when the desired quantile lies between two data points `i` and `j`:

        * linear: `i + (j - i) * fraction`, where `fraction` is the
          fractional part of the index surrounded by `i` and `j`.
        * lower: `i`.
        * higher: `j`.
        * nearest: `i` or `j` whichever is nearest.
        * midpoint: (`i` + `j`) / 2.

    Returns
    -------
    Series or DataFrame

        If ``q`` is an array, a DataFrame will be returned where the
          index is ``q``, the columns are the columns of self, and the
          values are the quantiles.
        If ``q`` is a float, a Series will be returned where the
          index is the columns of self and the values are the quantiles.

    See Also
    --------
    core.window.Rolling.quantile: Rolling quantile.
    numpy.percentile: Numpy function to compute the percentile.

    Examples
    --------
    >>> df = pd.DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
    ...                   columns=['a', 'b'])
    >>> df.quantile(.1)
    a    1.3
    b    3.7
    Name: 0.1, dtype: float64
    >>> df.quantile([.1, .5])
           a     b
    0.1  1.3   3.7
    0.5  2.5  55.0

    Specifying `numeric_only=False` will also compute the quantile of
    datetime and timedelta data.

    >>> df = pd.DataFrame({'A': [1, 2],
    ...                    'B': [pd.Timestamp('2010'),
    ...                          pd.Timestamp('2011')],
    ...                    'C': [pd.Timedelta('1 days'),
    ...                          pd.Timedelta('2 days')]})
    >>> df.quantile(0.5, numeric_only=False)
    A                    1.5
    B    2010-07-02 12:00:00
    C        1 days 12:00:00
    Name: 0.5, dtype: object

In [20]:
new_data['tax'].quantile(q=0.25)

264.0

- 국가별 입국자 수 데이터이며 2000년도 전체 입국자 평균보다 국내에 많이 입국한 국가의 수를 산출

In [23]:
import pandas as pd 
data = pd.read_csv("../Data/3rd_tour.csv",encoding="euc-kr")
print(data)

    year       중국       일본      대만      홍콩     필리핀  인도네시아      태국    베트남  \
0   1995   178359  1667203  130147  100407  163228  37723   73770  16720
1   1996   199604  1526559  114729   77958  178045  46570   74162  16750
2   1997   214244  1676434  104144   96650  187235  53204   62374  14102
3   1998   210662  1954416  108880  229072  165272  36486   49973  11561
4   1999   316639  2184121  110563  234087  198583  47019   63679  16121
5   2000   442794  2472054  127120  200874  248737  59085   87885  21483
6   2001   482227  2377321  129410  204959  210975  57288   73163  20399
7   2002   539466  2320837  136921  179299  215848  65093   74000  23574
8   2003   512768  1802542  194586  156358  216627  62744   78243  28244
9   2004   627264  2443070  304908  155058  213434  61506  102588  33738
10  2005   710243  2440139  351438  166206  222655  62294  112724  45455
11  2006   896969  2338921  338162  142835  248262  62869  128555  46077
12  2007  1068925  2235963  335224  140138  263799  67450  146792  60262
13  2008  1167891  2378102  320244  160325  276710  81001  160687  76402
14  2009  1342317  3053311  380628  215769  271962  80988  190972  75978
15  2010  1875157  3023009  406352  228582  297452  95239  260718  90213

       인도  ...    그리스   불가리아   덴마크  아일랜드  유럽 기타  오스트레일리아   뉴질랜드  오세아니아 기타  \
0   35668  ...  14591   3408  5409  1741   7216    27251   6499      1891
1   38585  ...  14142   3447  5797  2066   9688    30694   6942      2304
2   42934  ...  12255   3870  5479  2230   9079    34640   7718      2735
3   40606  ...   8730   3315  5661  2071   8181    31028   7355      2716
4   43829  ...  10878   2371  5607  2131   8829    33378   8390      2696
5   51369  ...   9899   6105  6140  2376  11201    39614   9890      4563
6   47657  ...   9038   7569  6063  2741  12040    44295  12086      3301
7   52725  ...   9068   8794  8024  6590  16411    49759  13355      3859
8   50212  ...   9257  10109  6567  3977  13773    48597  13875      3245
9   56966  ...   9014  10417  7388  4600  14507    57834  16049      4038
10  58560  ...   7833  10138  7989  4941  15984    63463  16419      5318
11  62531  ...   7746  10499  8409  4833  17950    68328  17502      5686
12  68276  ...   6949   7674  8481  5903  19312    80528  21083      6218
13  73130  ...   7080   6171  8764  6589  21543    96138  24435      6996
14  72779  ...   7885   6220  7813  5991  21397    99153  23953      7340
15  86547  ...   7975   7525  7978  6257  23098   112409  26973      6707

    남아프리카공화국  아프리카 기타
0       1838    11056
1       2058     9820
2       4042     9873
3       3986    11877
4       3987    14682
5       4113    14204
6       4850    13315
7       5153    14424
8       4186    13533
9       4325    13580
10      4534    13631
11      4756    16334
12      6050    17574
13      6910    19299
14      7530    20971
15      9633    24123

[16 rows x 58 columns]

In [26]:
data2 = data[data['year'] == 2000]
# 2000년도 데이터만 추출
print(data2)

   year      중국       일본      대만      홍콩     필리핀  인도네시아     태국    베트남     인도  \
5  2000  442794  2472054  127120  200874  248737  59085  87885  21483  51369

   ...   그리스  불가리아   덴마크  아일랜드  유럽 기타  오스트레일리아  뉴질랜드  오세아니아 기타  남아프리카공화국  \
5  ...  9899  6105  6140  2376  11201    39614  9890      4563      4113

   아프리카 기타
5    14204

[1 rows x 58 columns]

In [43]:
# 평균 산출 
data3 = data2.iloc[:, 1:]
data3

,중국,일본,대만,홍콩,필리핀,인도네시아,태국,베트남,인도,말레이시아,...,그리스,불가리아,덴마크,아일랜드,유럽 기타,오스트레일리아,뉴질랜드,오세아니아 기타,남아프리카공화국,아프리카 기타
5,442794,2472054,127120,200874,248737,59085,87885,21483,51369,59933,...,9899,6105,6140,2376,11201,39614,9890,4563,4113,14204

In [35]:
num = 0 
for i in data3:
    print(data3[i].values)
    num += data3[i].values
print(num)

[442794]
[2472054]
[127120]
[200874]
[248737]
[59085]
[87885]
[21483]
[51369]
[59933]
[82871]
[12156]
[10971]
[37794]
[2226]
[4380]
[5891]
[596]
[5905]
[10529]
[15775]
[5518]
[8967]
[9900]
[458617]
[56304]
[4492]
[4453]
[10653]
[155392]
[57895]
[51093]
[33991]
[13578]
[15611]
[14914]
[4944]
[4169]
[7500]
[8336]
[18292]
[6013]
[7170]
[3960]
[4082]
[4862]
[4955]
[9899]
[6105]
[6140]
[2376]
[11201]
[39614]
[9890]
[4563]
[4113]
[14204]
[5044194]

In [46]:
mean_con = int(num) / len(data3.columns)

In [59]:
def country(series):
    if series >= mean_con:
        return series
    else:
        return "None"

In [63]:
a = []
for i in data3:
    a.append(country(data3[i].values))

print(a)

[array([442794]), array([2472054]), array([127120]), array([200874]), array([248737]), 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', array([458617]), 'None', 'None', 'None', 'None', array([155392]), 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']

In [64]:
cnt = 0
for i in a:
    if i != "None":
        cnt+= 1
print(cnt)
# 야매로 풀었음

7

/var/folders/rn/572w08lj1f91tkntfly8qw7h0000gn/T/ipykernel_1383/437554197.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if i != "None":

- 다음 데이터 셋의 컬럼 중 빈값 또는 결측치를 확인하여 결측치의 비율이 높은 변수명을 출력하세요

In [65]:
import pandas as pd 
data = pd.read_csv("../Data/3rd_titanic.csv", encoding="utf-8")
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,C

In [67]:
for i in data:
    print(data[i], "의 결측값의 수는 " , data[i].isnull().sum())
# age

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64 의 결측값의 수는  0
0      3
1      3
2      2
3      3
4      3
      ..
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 418, dtype: int64 의 결측값의 수는  0
0                                  Kelly, Mr. James
1                  Wilkes, Mrs. James (Ellen Needs)
2                         Myles, Mr. Thomas Francis
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                           ...
413                              Spector, Mr. Woolf
414                    Oliva y Ocana, Dona. Fermina
415                    Saether, Mr. Simon Sivertsen
416                             Ware, Mr. Frederick
417                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object 의 결측값의 수는  0
0        male
1      female
2        male
3        male
4      female
        ...
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 418, dtype: object 의 결측값의 수는  0
0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64 의 결측값의 수는  86
0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    0
415    0
416    0
417    1
Name: SibSp, Length: 418, dtype: int64 의 결측값의 수는  0
0      0
1      0
2      0
3      0
4      1
      ..
413    0
414    0
415    0
416    0
417    1
Name: Parch, Length: 418, dtype: int64 의 결측값의 수는  0
0                  330911
1                  363272
2                  240276
3                  315154
4                 3101298
              ...
413             A.5. 3236
414              PC 17758
415    SOTON/O.Q. 3101262
416                359309
417                  2668
Name: Ticket, Length: 418, dtype: object 의 결측값의 수는  0
0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
         ...
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 418, dtype: float64 의 결측값의 수는  1
0      Q
1      S
2      Q
3      S
4      S
      ..
413    S
414    C
415    S
416    S
417    C
Name: Embarked, Length: 418, dtype: object 의 결측값의 수는  0

In [70]:
print((data.isnull().sum() / len(data)).sort_values(ascending=False))

Age            0.205742
Fare           0.002392
PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Embarked       0.000000
dtype: float64

- 아래 여행객 보험 데이터 셋을 참조하여 여행객의 정보들을 기반으로 여행 보험상품 가입 여부를 예측(ID와 예측치를 csv 파일로 저장해서 제출)

In [142]:
import pandas as pd 
test = pd.read_csv("../Data/3rd_TravelInsurancePrediction_test.csv", encoding="utf-8")
train = pd.read_csv("../Data/3rd_TravelInsurancePrediction_train.csv", encoding="utf-8")

In [143]:
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,Government Sector,Yes,400000,6,1,No,No,0
1,1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

In [144]:
for i in train:
    print(i, " : " ,train[i].unique())

ID  :  [   0    1    2 ... 1498 1499 1500]
Age  :  [31 34 28 25 33 26 32 29 35 30 27]
Employment Type  :  ['Government Sector' 'Private Sector/Self Employed']
GraduateOrNot  :  ['Yes' 'No']
AnnualIncome  :  [ 400000 1250000  500000  700000 1150000 1300000 1350000 1450000  800000
 1400000  850000 1500000 1050000  350000 1100000  600000  900000  550000
  300000  750000 1200000 1000000  950000 1700000 1750000  650000  450000
 1650000 1800000 1550000]
FamilyMembers  :  [6 7 4 3 8 9 5 2]
ChronicDiseases  :  [1 0]
FrequentFlyer  :  ['No' 'Yes']
EverTravelledAbroad  :  ['No' 'Yes']
TravelInsurance  :  [0 1]

In [145]:
# X, y 분리 
X_train = train[["Age", "Employment Type", "GraduateOrNot", "AnnualIncome", "FamilyMembers", "ChronicDiseases", "FrequentFlyer", "EverTravelledAbroad"]]
y_train = train["TravelInsurance"]

# category : Employment Type, GraduateOrNot, ChronicDiseases, FrequentFlyer, EverTravelledAbroad
# num : Age, AnnualIncome, FamilyMembers

In [146]:
X_cat_train = X_train[['Employment Type', 'GraduateOrNot', 'ChronicDiseases', 'FrequentFlyer', 'EverTravelledAbroad']]
X_num_train = X_train[['Age', 'AnnualIncome', 'FamilyMembers']]

In [147]:
X_cat_train_dum = pd.get_dummies(X_cat_train)
X_cat_train_dum

,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,1,1,0,0,1,1,0,1,0
1,0,0,1,0,1,1,0,1,0
2,1,0,1,0,1,1,0,1,0
3,1,0,1,0,1,1,0,1,0
4,1,0,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...
1496,0,0,1,0,1,1,0,1,0
1497,0,1,0,0,1,1,0,1,0
1498,0,1,0,0,1,1,0,1,0
1499,0,0,1,0,1,1,0,1,0
1500,0,0,1,0,1,1,0,0,1

In [148]:
test

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1501,28,Private Sector/Self Employed,Yes,800000,4,0,No,No
1,1502,28,Private Sector/Self Employed,Yes,750000,6,1,No,No
2,1503,29,Private Sector/Self Employed,Yes,500000,4,0,No,No
3,1504,34,Private Sector/Self Employed,Yes,850000,2,0,No,No
4,1505,27,Government Sector,Yes,500000,4,0,No,No
...,...,...,...,...,...,...,...,...,...
481,1982,33,Private Sector/Self Employed,Yes,1500000,4,0,Yes,Yes
482,1983,28,Private Sector/Self Employed,Yes,1750000,5,1,No,Yes
483,1984,28,Private Sector/Self Employed,Yes,1150000,6,1,No,No
484,1985,34,Private Sector/Self Employed,Yes,1000000,6,0,Yes,Yes
485,1986,34,Private Sector/Self Employed,Yes,500000,4,0,No,No

In [149]:
X_test = test[["Age", "Employment Type", "GraduateOrNot", "AnnualIncome", "FamilyMembers", "ChronicDiseases", "FrequentFlyer", "EverTravelledAbroad"]]

In [150]:
X_cat_test = X_test[['Employment Type', 'GraduateOrNot', 'ChronicDiseases', 'FrequentFlyer', 'EverTravelledAbroad']]
X_num_test = X_test[['Age', 'AnnualIncome', 'FamilyMembers']]

In [151]:
X_cat_test_dum = pd.get_dummies(X_cat_test)
X_cat_test_dum

,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,0,0,1,0,1,1,0,1,0
1,1,0,1,0,1,1,0,1,0
2,0,0,1,0,1,1,0,1,0
3,0,0,1,0,1,1,0,1,0
4,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...
481,0,0,1,0,1,0,1,0,1
482,1,0,1,0,1,1,0,0,1
483,1,0,1,0,1,1,0,1,0
484,0,0,1,0,1,0,1,0,1
485,0,0,1,0,1,1,0,1,0

In [152]:
from sklearn.preprocessing import * 
minmax = MinMaxScaler()
minmax.fit(X_num_train)
X_scaled_train = minmax.transform(X_num_train)
X_scaled_test = minmax.transform(X_num_test)

In [153]:
print(X_scaled_train, end="\n\n")
print(X_scaled_test)

[[0.6        0.06666667 0.57142857]
 [0.6        0.63333333 0.71428571]
 [0.9        0.13333333 0.28571429]
 ...
 [0.8        0.2        0.28571429]
 [0.3        0.6        0.14285714]
 [0.         0.96666667 0.14285714]]

[[0.3        0.33333333 0.28571429]
 [0.3        0.3        0.57142857]
 [0.4        0.13333333 0.28571429]
 ...
 [0.3        0.56666667 0.57142857]
 [0.9        0.46666667 0.57142857]
 [0.9        0.13333333 0.28571429]]

In [111]:
X_train = pd.concat([pd.DataFrame(X_scaled_train), X_cat_train_dum], axis=1)
X_train

,0,1,2,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,0.6,0.066667,0.571429,1,1,0,0,1,1,0,1,0
1,0.6,0.633333,0.714286,0,0,1,0,1,1,0,1,0
2,0.9,0.133333,0.285714,1,0,1,0,1,1,0,1,0
3,0.3,0.266667,0.142857,1,0,1,0,1,1,0,1,0
4,0.3,0.266667,0.857143,1,0,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1496,0.3,0.300000,0.285714,0,0,1,0,1,1,0,1,0
1497,0.8,0.066667,0.571429,0,1,0,0,1,1,0,1,0
1498,0.8,0.200000,0.285714,0,1,0,0,1,1,0,1,0
1499,0.3,0.600000,0.142857,0,0,1,0,1,1,0,1,0
1500,0.0,0.966667,0.142857,0,0,1,0,1,1,0,0,1

In [154]:
X_train_dum, X_test_dum =X_cat_train_dum.align(X_cat_test_dum, join="inner", axis = 1)

In [141]:
X_cat_test_dum

,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,0,0,1,0,1,1,0,1,0
1,1,0,1,0,1,1,0,1,0
2,0,0,1,0,1,1,0,1,0
3,0,0,1,0,1,1,0,1,0
4,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...
481,0,0,1,0,1,0,1,0,1
482,1,0,1,0,1,1,0,0,1
483,1,0,1,0,1,1,0,1,0
484,0,0,1,0,1,0,1,0,1
485,0,0,1,0,1,1,0,1,0

In [140]:
X_cat_train_dum

,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,1,1,0,0,1,1,0,1,0
1,0,0,1,0,1,1,0,1,0
2,1,0,1,0,1,1,0,1,0
3,1,0,1,0,1,1,0,1,0
4,1,0,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...
1496,0,0,1,0,1,1,0,1,0
1497,0,1,0,0,1,1,0,1,0
1498,0,1,0,0,1,1,0,1,0
1499,0,0,1,0,1,1,0,1,0
1500,0,0,1,0,1,1,0,0,1

In [117]:
X_test = pd.concat([pd.DataFrame(X_scaled_test), X_cat_test_dum], axis = 1)
X_test

,0,1,2,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,0.3,0.333333,0.285714,0,0,1,0,1,1,0,1,0
1,0.3,0.300000,0.571429,1,0,1,0,1,1,0,1,0
2,0.4,0.133333,0.285714,0,0,1,0,1,1,0,1,0
3,0.9,0.366667,0.000000,0,0,1,0,1,1,0,1,0
4,0.2,0.133333,0.285714,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
481,0.8,0.800000,0.285714,0,0,1,0,1,0,1,0,1
482,0.3,0.966667,0.428571,1,0,1,0,1,1,0,0,1
483,0.3,0.566667,0.571429,1,0,1,0,1,1,0,1,0
484,0.9,0.466667,0.571429,0,0,1,0,1,0,1,0,1
485,0.9,0.133333,0.285714,0,0,1,0,1,1,0,1,0

In [116]:
from sklearn.linear_model import * 
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_train, y_train)

/Users/sig6774/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sig6774/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.7621585609593604

In [118]:
pred_test = model.predict_proba(X_test)
pred_test

/Users/sig6774/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

array([[0.80504373, 0.19495627],
       [0.75991737, 0.24008263],
       [0.85365689, 0.14634311],
       [0.77814117, 0.22185883],
       [0.8925387 , 0.1074613 ],
       [0.6471371 , 0.3528629 ],
       [0.83641526, 0.16358474],
       [0.1188145 , 0.8811855 ],
       [0.66595096, 0.33404904],
       [0.89082526, 0.10917474],
       [0.6725184 , 0.3274816 ],
       [0.87777051, 0.12222949],
       [0.14507099, 0.85492901],
       [0.60539426, 0.39460574],
       [0.89093763, 0.10906237],
       [0.70402735, 0.29597265],
       [0.26096168, 0.73903832],
       [0.58041547, 0.41958453],
       [0.88471427, 0.11528573],
       [0.86653197, 0.13346803],
       [0.22056572, 0.77943428],
       [0.88711584, 0.11288416],
       [0.83641526, 0.16358474],
       [0.72163154, 0.27836846],
       [0.77030247, 0.22969753],
       [0.79593056, 0.20406944],
       [0.61503617, 0.38496383],
       [0.85500957, 0.14499043],
       [0.64853008, 0.35146992],
       [0.85949398, 0.14050602],
       [0.83641526, 0.16358474],
       [0.72191303, 0.27808697],
       [0.73519667, 0.26480333],
       [0.43542035, 0.56457965],
       [0.72035987, 0.27964013],
       [0.79257926, 0.20742074],
       [0.85365689, 0.14634311],
       [0.86458389, 0.13541611],
       [0.62783057, 0.37216943],
       [0.70084377, 0.29915623],
       [0.73278727, 0.26721273],
       [0.82666507, 0.17333493],
       [0.88103942, 0.11896058],
       [0.5578168 , 0.4421832 ],
       [0.13227398, 0.86772602],
       [0.85732029, 0.14267971],
       [0.1064896 , 0.8935104 ],
       [0.88320866, 0.11679134],
       [0.81884624, 0.18115376],
       [0.60831044, 0.39168956],
       [0.61012349, 0.38987651],
       [0.85500957, 0.14499043],
       [0.1845695 , 0.8154305 ],
       [0.62415426, 0.37584574],
       [0.14663524, 0.85336476],
       [0.10660016, 0.89339984],
       [0.72235755, 0.27764245],
       [0.77631008, 0.22368992],
       [0.68824601, 0.31175399],
       [0.70523931, 0.29476069],
       [0.75443375, 0.24556625],
       [0.72009916, 0.27990084],
       [0.54498469, 0.45501531],
       [0.80330178, 0.19669822],
       [0.8463462 , 0.1536538 ],
       [0.12099322, 0.87900678],
       [0.10328017, 0.89671983],
       [0.25774594, 0.74225406],
       [0.87792082, 0.12207918],
       [0.42270584, 0.57729416],
       [0.08555111, 0.91444889],
       [0.6151186 , 0.3848814 ],
       [0.81504551, 0.18495449],
       [0.77672262, 0.22327738],
       [0.84490219, 0.15509781],
       [0.73278727, 0.26721273],
       [0.9042676 , 0.0957324 ],
       [0.85604545, 0.14395455],
       [0.62985046, 0.37014954],
       [0.56056866, 0.43943134],
       [0.75984398, 0.24015602],
       [0.74840313, 0.25159687],
       [0.88471427, 0.11528573],
       [0.92201239, 0.07798761],
       [0.54612191, 0.45387809],
       [0.16386562, 0.83613438],
       [0.83622338, 0.16377662],
       [0.61330131, 0.38669869],
       [0.20262735, 0.79737265],
       [0.72476404, 0.27523596],
       [0.92201239, 0.07798761],
       [0.4300803 , 0.5699197 ],
       [0.79882004, 0.20117996],
       [0.24579398, 0.75420602],
       [0.78587511, 0.21412489],
       [0.88711584, 0.11288416],
       [0.58041547, 0.41958453],
       [0.80264977, 0.19735023],
       [0.85612385, 0.14387615],
       [0.86918803, 0.13081197],
       [0.68095123, 0.31904877],
       [0.80384571, 0.19615429],
       [0.83596956, 0.16403044],
       [0.64130077, 0.35869923],
       [0.88322846, 0.11677154],
       [0.85183028, 0.14816972],
       [0.79347696, 0.20652304],
       [0.1348952 , 0.8651048 ],
       [0.90158698, 0.09841302],
       [0.70204069, 0.29795931],
       [0.20931137, 0.79068863],
       [0.16765238, 0.83234762],
       [0.78924349, 0.21075651],
       [0.64070954, 0.35929046],
       [0.78084934, 0.21915066],
       [0.91721114, 0.08278886],
       [0.61358954, 0.38641046],
       [0.91100403, 0.08899597],
       [0.83416741, 0.16583259],
       [0.83109413, 0.16890587],
       [0.73964139, 0.26035861],
       [0.51045931, 0.48954069],
       [0.21451636, 0.78548364],
       [0.67209186, 0.32790814],
       [0.91863925, 0.08136075],
       [0.87683151, 0.12316849],
       [0.76082803, 0.23917197],
       [0.69650859, 0.30349141],
       [0.54468326, 0.45531674],
       [0.73964139, 0.26035861],
       [0.76775279, 0.23224721],
       [0.72235755, 0.27764245],
       [0.68069878, 0.31930122],
       [0.64977573, 0.35022427],
       [0.61503617, 0.38496383],
       [0.17342805, 0.82657195],
       [0.27378594, 0.72621406],
       [0.69179329, 0.30820671],
       [0.48573305, 0.51426695],
       [0.82209467, 0.17790533],
       [0.73278727, 0.26721273],
       [0.54498469, 0.45501531],
       [0.55486053, 0.44513947],
       [0.64029684, 0.35970316],
       [0.68069878, 0.31930122],
       [0.71140124, 0.28859876],
       [0.58367021, 0.41632979],
       [0.70365374, 0.29634626],
       [0.70983518, 0.29016482],
       [0.44040255, 0.55959745],
       [0.12597231, 0.87402769],
       [0.4835836 , 0.5164164 ],
       [0.85384542, 0.14615458],
       [0.1736446 , 0.8263554 ],
       [0.86386746, 0.13613254],
       [0.87683151, 0.12316849],
       [0.85311117, 0.14688883],
       [0.21011933, 0.78988067],
       [0.87075243, 0.12924757],
       [0.66026244, 0.33973756],
       [0.82557112, 0.17442888],
       [0.73735503, 0.26264497],
       [0.72075454, 0.27924546],
       [0.64860943, 0.35139057],
       [0.871013  , 0.128987  ],
       [0.49607566, 0.50392434],
       [0.79286583, 0.20713417],
       [0.77694794, 0.22305206],
       [0.85384542, 0.14615458],
       [0.51790963, 0.48209037],
       [0.15518098, 0.84481902],
       [0.23173935, 0.76826065],
       [0.84535322, 0.15464678],
       [0.61186228, 0.38813772],
       [0.66571986, 0.33428014],
       [0.71796265, 0.28203735],
       [0.91863925, 0.08136075],
       [0.1074522 , 0.8925478 ],
       [0.85311117, 0.14688883],
       [0.54830029, 0.45169971],
       [0.64130077, 0.35869923],
       [0.79479462, 0.20520538],
       [0.72696512, 0.27303488],
       [0.20931137, 0.79068863],
       [0.70212482, 0.29787518],
       [0.35613827, 0.64386173],
       [0.86663783, 0.13336217],
       [0.50909251, 0.49090749],
       [0.87792082, 0.12207918],
       [0.23765865, 0.76234135],
       [0.24250023, 0.75749977],
       [0.55428666, 0.44571334],
       [0.65005441, 0.34994559],
       [0.86458389, 0.13541611],
       [0.6555238 , 0.3444762 ],
       [0.8402673 , 0.1597327 ],
       [0.70456244, 0.29543756],
       [0.85365689, 0.14634311],
       [0.84535322, 0.15464678],
       [0.74725172, 0.25274828],
       [0.58041547, 0.41958453],
       [0.83951728, 0.16048272],
       [0.71096039, 0.28903961],
       [0.2896831 , 0.7103169 ],
       [0.85192076, 0.14807924],
       [0.82950593, 0.17049407],
       [0.70904193, 0.29095807],
       [0.73689903, 0.26310097],
       [0.63140758, 0.36859242],
       [0.22338744, 0.77661256],
       [0.73278727, 0.26721273],
       [0.24551418, 0.75448582],
       [0.80504373, 0.19495627],
       [0.91721114, 0.08278886],
       [0.74725172, 0.25274828],
       [0.6806231 , 0.3193769 ],
       [0.09353954, 0.90646046],
       [0.78842698, 0.21157302],
       [0.52172862, 0.47827138],
       [0.77435345, 0.22564655],
       [0.16857684, 0.83142316],
       [0.12099322, 0.87900678],
       [0.65957397, 0.34042603],
       [0.69906342, 0.30093658],
       [0.84535322, 0.15464678],
       [0.08555111, 0.91444889],
       [0.73278727, 0.26721273],
       [0.84118091, 0.15881909],
       [0.65207632, 0.34792368],
       [0.6936501 , 0.3063499 ],
       [0.81634965, 0.18365035],
       [0.31656302, 0.68343698],
       [0.871013  , 0.128987  ],
       [0.65653243, 0.34346757],
       [0.76063899, 0.23936101],
       [0.63293692, 0.36706308],
       [0.71796265, 0.28203735],
       [0.44854874, 0.55145126],
       [0.88611732, 0.11388268],
       [0.80004113, 0.19995887],
       [0.82666507, 0.17333493],
       [0.82666507, 0.17333493],
       [0.66509434, 0.33490566],
       [0.79326389, 0.20673611],
       [0.31964154, 0.68035846],
       [0.90771541, 0.09228459],
       [0.10328017, 0.89671983],
       [0.63875578, 0.36124422],
       [0.29880109, 0.70119891],
       [0.80384571, 0.19615429],
       [0.89861264, 0.10138736],
       [0.8798209 , 0.1201791 ],
       [0.76227688, 0.23772312],
       [0.13194701, 0.86805299],
       [0.68496863, 0.31503137],
       [0.79606508, 0.20393492],
       [0.65013148, 0.34986852],
       [0.86906204, 0.13093796],
       [0.85230852, 0.14769148],
       [0.12597231, 0.87402769],
       [0.75789347, 0.24210653],
       [0.5267328 , 0.4732672 ],
       [0.76082803, 0.23917197],
       [0.66128185, 0.33871815],
       [0.50467032, 0.49532968],
       [0.89211965, 0.10788035],
       [0.70904193, 0.29095807],
       [0.85406293, 0.14593707],
       [0.70456244, 0.29543756],
       [0.65653243, 0.34346757],
       [0.26993192, 0.73006808],
       [0.48139342, 0.51860658],
       [0.86145556, 0.13854444],
       [0.86509373, 0.13490627],
       [0.58393926, 0.41606074],
       [0.69179329, 0.30820671],
       [0.66520268, 0.33479732],
       [0.74029405, 0.25970595],
       [0.39518321, 0.60481679],
       [0.67416974, 0.32583026],
       [0.80800171, 0.19199829],
       [0.72447354, 0.27552646],
       [0.52204913, 0.47795087],
       [0.76340106, 0.23659894],
       [0.40557198, 0.59442802],
       [0.7353416 , 0.2646584 ],
       [0.78587511, 0.21412489],
       [0.59718181, 0.40281819],
       [0.73858678, 0.26141322],
       [0.7192192 , 0.2807808 ],
       [0.67443669, 0.32556331],
       [0.12597231, 0.87402769],
       [0.12597231, 0.87402769],
       [0.14507099, 0.85492901],
       [0.83745459, 0.16254541],
       [0.73427583, 0.26572417],
       [0.81997316, 0.18002684],
       [0.52172862, 0.47827138],
       [0.24373202, 0.75626798],
       [0.88096546, 0.11903454],
       [0.69179329, 0.30820671],
       [0.84681598, 0.15318402],
       [0.16994477, 0.83005523],
       [0.70365374, 0.29634626],
       [0.69179329, 0.30820671],
       [0.89211965, 0.10788035],
       [0.87683151, 0.12316849],
       [0.85587262, 0.14412738],
       [0.87993797, 0.12006203],
       [0.88242081, 0.11757919],
       [0.59115528, 0.40884472],
       [0.35613827, 0.64386173],
       [0.24632301, 0.75367699],
       [0.74949695, 0.25050305],
       [0.82316998, 0.17683002],
       [0.61474835, 0.38525165],
       [0.53548324, 0.46451676],
       [0.83265834, 0.16734166],
       [0.3128006 , 0.6871994 ],
       [0.78143846, 0.21856154],
       [0.24354504, 0.75645496],
       [0.6784555 , 0.3215445 ],
       [0.38186839, 0.61813161],
       [0.71773837, 0.28226163],
       [0.79233093, 0.20766907],
       [0.62724396, 0.37275604],
       [0.68123227, 0.31876773],
       [0.92201239, 0.07798761],
       [0.20419795, 0.79580205],
       [0.41454971, 0.58545029],
       [0.874327  , 0.125673  ],
       [0.70456244, 0.29543756],
       [0.66026244, 0.33973756],
       [0.5934865 , 0.4065135 ],
       [0.85489342, 0.14510658],
       [0.78992724, 0.21007276],
       [0.18042975, 0.81957025],
       [0.44679443, 0.55320557],
       [0.60448342, 0.39551658],
       [0.66940034, 0.33059966],
       [0.60448342, 0.39551658],
       [0.66520268, 0.33479732],
       [0.70523931, 0.29476069],
       [0.86122432, 0.13877568],
       [0.89861264, 0.10138736],
       [0.78920255, 0.21079745],
       [0.77592514, 0.22407486],
       [0.80836095, 0.19163905],
       [0.5919415 , 0.4080585 ],
       [0.89861264, 0.10138736],
       [0.80070732, 0.19929268],
       [0.63140758, 0.36859242],
       [0.73640463, 0.26359537],
       [0.49888753, 0.50111247],
       [0.4848723 , 0.5151277 ],
       [0.82111488, 0.17888512],
       [0.82795335, 0.17204665],
       [0.79839332, 0.20160668],
       [0.81553553, 0.18446447],
       [0.76548743, 0.23451257],
       [0.52771971, 0.47228029],
       [0.83412673, 0.16587327],
       [0.78587511, 0.21412489],
       [0.84075217, 0.15924783],
       [0.21702757, 0.78297243],
       [0.86386746, 0.13613254],
       [0.6784555 , 0.3215445 ],
       [0.25442234, 0.74557766],
       [0.20168813, 0.79831187],
       [0.52172862, 0.47827138],
       [0.11094718, 0.88905282],
       [0.64130077, 0.35869923],
       [0.71221346, 0.28778654],
       [0.87075243, 0.12924757],
       [0.24250023, 0.75749977],
       [0.1064896 , 0.8935104 ],
       [0.53439816, 0.46560184],
       [0.82557112, 0.17442888],
       [0.90917987, 0.09082013],
       [0.78926945, 0.21073055],
       [0.58729523, 0.41270477],
       [0.11791703, 0.88208297],
       [0.8925387 , 0.1074613 ],
       [0.74988955, 0.25011045],
       [0.71738249, 0.28261751],
       [0.84738091, 0.15261909],
       [0.72032236, 0.27967764],
       [0.80596361, 0.19403639],
       [0.61819894, 0.38180106],
       [0.72191303, 0.27808697],
       [0.71909067, 0.28090933],
       [0.80384571, 0.19615429],
       [0.78144671, 0.21855329],
       [0.81884624, 0.18115376],
       [0.91091418, 0.08908582],
       [0.23681886, 0.76318114],
       [0.58628283, 0.41371717],
       [0.78873675, 0.21126325],
       [0.63797274, 0.36202726],
       [0.77325115, 0.22674885],
       [0.86653197, 0.13346803],
       [0.89644554, 0.10355446],
       [0.4518896 , 0.5481104 ],
       [0.6645324 , 0.3354676 ],
       [0.78873675, 0.21126325],
       [0.12810176, 0.87189824],
       [0.75177479, 0.24822521],
       [0.80504373, 0.19495627],
       [0.90021002, 0.09978998],
       [0.62443935, 0.37556065],
       [0.40260019, 0.59739981],
       [0.80911826, 0.19088174],
       [0.68376385, 0.31623615],
       [0.77954335, 0.22045665],
       [0.78143846, 0.21856154],
       [0.71102081, 0.28897919],
       [0.56768383, 0.43231617],
       [0.21451636, 0.78548364],
       [0.88471427, 0.11528573],
       [0.77631008, 0.22368992],
       [0.871013  , 0.128987  ],
       [0.80911826, 0.19088174],
       [0.85297231, 0.14702769],
       [0.77990276, 0.22009724],
       [0.84892344, 0.15107656],
       [0.25442234, 0.74557766],
       [0.68181081, 0.31818919],
       [0.07493381, 0.92506619],
       [0.80821907, 0.19178093],
       [0.61639983, 0.38360017],
       [0.57610079, 0.42389921],
       [0.6994599 , 0.3005401 ],
       [0.78148874, 0.21851126],
       [0.21685679, 0.78314321],
       [0.58046082, 0.41953918],
       [0.0794822 , 0.9205178 ],
       [0.29717533, 0.70282467],
       [0.16991769, 0.83008231],
       [0.78632429, 0.21367571],
       [0.18034585, 0.81965415],
       [0.88320866, 0.11679134],
       [0.75724457, 0.24275543],
       [0.78604984, 0.21395016],
       [0.1064896 , 0.8935104 ],
       [0.47767403, 0.52232597],
       [0.21873457, 0.78126543],
       [0.75047916, 0.24952084],
       [0.5408557 , 0.4591443 ],
       [0.70750807, 0.29249193],
       [0.23038627, 0.76961373],
       [0.84217015, 0.15782985],
       [0.15924159, 0.84075841],
       [0.53650677, 0.46349323],
       [0.77153501, 0.22846499],
       [0.5070834 , 0.4929166 ],
       [0.59343246, 0.40656754],
       [0.54498469, 0.45501531],
       [0.70434187, 0.29565813],
       [0.80070732, 0.19929268],
       [0.88471427, 0.11528573],
       [0.91091418, 0.08908582],
       [0.65013148, 0.34986852],
       [0.71405815, 0.28594185],
       [0.77459828, 0.22540172],
       [0.84490219, 0.15509781],
       [0.7061228 , 0.2938772 ],
       [0.78065053, 0.21934947],
       [0.89434339, 0.10565661],
       [0.83059548, 0.16940452],
       [0.85365689, 0.14634311],
       [0.70637497, 0.29362503],
       [0.77347895, 0.22652105],
       [0.24936883, 0.75063117],
       [0.53629253, 0.46370747],
       [0.15248649, 0.84751351],
       [0.72388232, 0.27611768],
       [0.22593903, 0.77406097],
       [0.73640463, 0.26359537],
       [0.7236825 , 0.2763175 ],
       [0.70301865, 0.29698135],
       [0.85612385, 0.14387615],
       [0.11740411, 0.88259589],
       [0.14303938, 0.85696062],
       [0.6471371 , 0.3528629 ],
       [0.1561678 , 0.8438322 ],
       [0.80911826, 0.19088174]])

In [120]:
test = pd.read_csv("../Data/3rd_TravelInsurancePrediction_test.csv", encoding="utf-8")
test

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1501,28,Private Sector/Self Employed,Yes,800000,4,0,No,No
1,1502,28,Private Sector/Self Employed,Yes,750000,6,1,No,No
2,1503,29,Private Sector/Self Employed,Yes,500000,4,0,No,No
3,1504,34,Private Sector/Self Employed,Yes,850000,2,0,No,No
4,1505,27,Government Sector,Yes,500000,4,0,No,No
...,...,...,...,...,...,...,...,...,...
481,1982,33,Private Sector/Self Employed,Yes,1500000,4,0,Yes,Yes
482,1983,28,Private Sector/Self Employed,Yes,1750000,5,1,No,Yes
483,1984,28,Private Sector/Self Employed,Yes,1150000,6,1,No,No
484,1985,34,Private Sector/Self Employed,Yes,1000000,6,0,Yes,Yes
485,1986,34,Private Sector/Self Employed,Yes,500000,4,0,No,No

In [126]:
pred_test

array([[0.80504373, 0.19495627],
       [0.75991737, 0.24008263],
       [0.85365689, 0.14634311],
       [0.77814117, 0.22185883],
       [0.8925387 , 0.1074613 ],
       [0.6471371 , 0.3528629 ],
       [0.83641526, 0.16358474],
       [0.1188145 , 0.8811855 ],
       [0.66595096, 0.33404904],
       [0.89082526, 0.10917474],
       [0.6725184 , 0.3274816 ],
       [0.87777051, 0.12222949],
       [0.14507099, 0.85492901],
       [0.60539426, 0.39460574],
       [0.89093763, 0.10906237],
       [0.70402735, 0.29597265],
       [0.26096168, 0.73903832],
       [0.58041547, 0.41958453],
       [0.88471427, 0.11528573],
       [0.86653197, 0.13346803],
       [0.22056572, 0.77943428],
       [0.88711584, 0.11288416],
       [0.83641526, 0.16358474],
       [0.72163154, 0.27836846],
       [0.77030247, 0.22969753],
       [0.79593056, 0.20406944],
       [0.61503617, 0.38496383],
       [0.85500957, 0.14499043],
       [0.64853008, 0.35146992],
       [0.85949398, 0.14050602],
       [0.83641526, 0.16358474],
       [0.72191303, 0.27808697],
       [0.73519667, 0.26480333],
       [0.43542035, 0.56457965],
       [0.72035987, 0.27964013],
       [0.79257926, 0.20742074],
       [0.85365689, 0.14634311],
       [0.86458389, 0.13541611],
       [0.62783057, 0.37216943],
       [0.70084377, 0.29915623],
       [0.73278727, 0.26721273],
       [0.82666507, 0.17333493],
       [0.88103942, 0.11896058],
       [0.5578168 , 0.4421832 ],
       [0.13227398, 0.86772602],
       [0.85732029, 0.14267971],
       [0.1064896 , 0.8935104 ],
       [0.88320866, 0.11679134],
       [0.81884624, 0.18115376],
       [0.60831044, 0.39168956],
       [0.61012349, 0.38987651],
       [0.85500957, 0.14499043],
       [0.1845695 , 0.8154305 ],
       [0.62415426, 0.37584574],
       [0.14663524, 0.85336476],
       [0.10660016, 0.89339984],
       [0.72235755, 0.27764245],
       [0.77631008, 0.22368992],
       [0.68824601, 0.31175399],
       [0.70523931, 0.29476069],
       [0.75443375, 0.24556625],
       [0.72009916, 0.27990084],
       [0.54498469, 0.45501531],
       [0.80330178, 0.19669822],
       [0.8463462 , 0.1536538 ],
       [0.12099322, 0.87900678],
       [0.10328017, 0.89671983],
       [0.25774594, 0.74225406],
       [0.87792082, 0.12207918],
       [0.42270584, 0.57729416],
       [0.08555111, 0.91444889],
       [0.6151186 , 0.3848814 ],
       [0.81504551, 0.18495449],
       [0.77672262, 0.22327738],
       [0.84490219, 0.15509781],
       [0.73278727, 0.26721273],
       [0.9042676 , 0.0957324 ],
       [0.85604545, 0.14395455],
       [0.62985046, 0.37014954],
       [0.56056866, 0.43943134],
       [0.75984398, 0.24015602],
       [0.74840313, 0.25159687],
       [0.88471427, 0.11528573],
       [0.92201239, 0.07798761],
       [0.54612191, 0.45387809],
       [0.16386562, 0.83613438],
       [0.83622338, 0.16377662],
       [0.61330131, 0.38669869],
       [0.20262735, 0.79737265],
       [0.72476404, 0.27523596],
       [0.92201239, 0.07798761],
       [0.4300803 , 0.5699197 ],
       [0.79882004, 0.20117996],
       [0.24579398, 0.75420602],
       [0.78587511, 0.21412489],
       [0.88711584, 0.11288416],
       [0.58041547, 0.41958453],
       [0.80264977, 0.19735023],
       [0.85612385, 0.14387615],
       [0.86918803, 0.13081197],
       [0.68095123, 0.31904877],
       [0.80384571, 0.19615429],
       [0.83596956, 0.16403044],
       [0.64130077, 0.35869923],
       [0.88322846, 0.11677154],
       [0.85183028, 0.14816972],
       [0.79347696, 0.20652304],
       [0.1348952 , 0.8651048 ],
       [0.90158698, 0.09841302],
       [0.70204069, 0.29795931],
       [0.20931137, 0.79068863],
       [0.16765238, 0.83234762],
       [0.78924349, 0.21075651],
       [0.64070954, 0.35929046],
       [0.78084934, 0.21915066],
       [0.91721114, 0.08278886],
       [0.61358954, 0.38641046],
       [0.91100403, 0.08899597],
       [0.83416741, 0.16583259],
       [0.83109413, 0.16890587],
       [0.73964139, 0.26035861],
       [0.51045931, 0.48954069],
       [0.21451636, 0.78548364],
       [0.67209186, 0.32790814],
       [0.91863925, 0.08136075],
       [0.87683151, 0.12316849],
       [0.76082803, 0.23917197],
       [0.69650859, 0.30349141],
       [0.54468326, 0.45531674],
       [0.73964139, 0.26035861],
       [0.76775279, 0.23224721],
       [0.72235755, 0.27764245],
       [0.68069878, 0.31930122],
       [0.64977573, 0.35022427],
       [0.61503617, 0.38496383],
       [0.17342805, 0.82657195],
       [0.27378594, 0.72621406],
       [0.69179329, 0.30820671],
       [0.48573305, 0.51426695],
       [0.82209467, 0.17790533],
       [0.73278727, 0.26721273],
       [0.54498469, 0.45501531],
       [0.55486053, 0.44513947],
       [0.64029684, 0.35970316],
       [0.68069878, 0.31930122],
       [0.71140124, 0.28859876],
       [0.58367021, 0.41632979],
       [0.70365374, 0.29634626],
       [0.70983518, 0.29016482],
       [0.44040255, 0.55959745],
       [0.12597231, 0.87402769],
       [0.4835836 , 0.5164164 ],
       [0.85384542, 0.14615458],
       [0.1736446 , 0.8263554 ],
       [0.86386746, 0.13613254],
       [0.87683151, 0.12316849],
       [0.85311117, 0.14688883],
       [0.21011933, 0.78988067],
       [0.87075243, 0.12924757],
       [0.66026244, 0.33973756],
       [0.82557112, 0.17442888],
       [0.73735503, 0.26264497],
       [0.72075454, 0.27924546],
       [0.64860943, 0.35139057],
       [0.871013  , 0.128987  ],
       [0.49607566, 0.50392434],
       [0.79286583, 0.20713417],
       [0.77694794, 0.22305206],
       [0.85384542, 0.14615458],
       [0.51790963, 0.48209037],
       [0.15518098, 0.84481902],
       [0.23173935, 0.76826065],
       [0.84535322, 0.15464678],
       [0.61186228, 0.38813772],
       [0.66571986, 0.33428014],
       [0.71796265, 0.28203735],
       [0.91863925, 0.08136075],
       [0.1074522 , 0.8925478 ],
       [0.85311117, 0.14688883],
       [0.54830029, 0.45169971],
       [0.64130077, 0.35869923],
       [0.79479462, 0.20520538],
       [0.72696512, 0.27303488],
       [0.20931137, 0.79068863],
       [0.70212482, 0.29787518],
       [0.35613827, 0.64386173],
       [0.86663783, 0.13336217],
       [0.50909251, 0.49090749],
       [0.87792082, 0.12207918],
       [0.23765865, 0.76234135],
       [0.24250023, 0.75749977],
       [0.55428666, 0.44571334],
       [0.65005441, 0.34994559],
       [0.86458389, 0.13541611],
       [0.6555238 , 0.3444762 ],
       [0.8402673 , 0.1597327 ],
       [0.70456244, 0.29543756],
       [0.85365689, 0.14634311],
       [0.84535322, 0.15464678],
       [0.74725172, 0.25274828],
       [0.58041547, 0.41958453],
       [0.83951728, 0.16048272],
       [0.71096039, 0.28903961],
       [0.2896831 , 0.7103169 ],
       [0.85192076, 0.14807924],
       [0.82950593, 0.17049407],
       [0.70904193, 0.29095807],
       [0.73689903, 0.26310097],
       [0.63140758, 0.36859242],
       [0.22338744, 0.77661256],
       [0.73278727, 0.26721273],
       [0.24551418, 0.75448582],
       [0.80504373, 0.19495627],
       [0.91721114, 0.08278886],
       [0.74725172, 0.25274828],
       [0.6806231 , 0.3193769 ],
       [0.09353954, 0.90646046],
       [0.78842698, 0.21157302],
       [0.52172862, 0.47827138],
       [0.77435345, 0.22564655],
       [0.16857684, 0.83142316],
       [0.12099322, 0.87900678],
       [0.65957397, 0.34042603],
       [0.69906342, 0.30093658],
       [0.84535322, 0.15464678],
       [0.08555111, 0.91444889],
       [0.73278727, 0.26721273],
       [0.84118091, 0.15881909],
       [0.65207632, 0.34792368],
       [0.6936501 , 0.3063499 ],
       [0.81634965, 0.18365035],
       [0.31656302, 0.68343698],
       [0.871013  , 0.128987  ],
       [0.65653243, 0.34346757],
       [0.76063899, 0.23936101],
       [0.63293692, 0.36706308],
       [0.71796265, 0.28203735],
       [0.44854874, 0.55145126],
       [0.88611732, 0.11388268],
       [0.80004113, 0.19995887],
       [0.82666507, 0.17333493],
       [0.82666507, 0.17333493],
       [0.66509434, 0.33490566],
       [0.79326389, 0.20673611],
       [0.31964154, 0.68035846],
       [0.90771541, 0.09228459],
       [0.10328017, 0.89671983],
       [0.63875578, 0.36124422],
       [0.29880109, 0.70119891],
       [0.80384571, 0.19615429],
       [0.89861264, 0.10138736],
       [0.8798209 , 0.1201791 ],
       [0.76227688, 0.23772312],
       [0.13194701, 0.86805299],
       [0.68496863, 0.31503137],
       [0.79606508, 0.20393492],
       [0.65013148, 0.34986852],
       [0.86906204, 0.13093796],
       [0.85230852, 0.14769148],
       [0.12597231, 0.87402769],
       [0.75789347, 0.24210653],
       [0.5267328 , 0.4732672 ],
       [0.76082803, 0.23917197],
       [0.66128185, 0.33871815],
       [0.50467032, 0.49532968],
       [0.89211965, 0.10788035],
       [0.70904193, 0.29095807],
       [0.85406293, 0.14593707],
       [0.70456244, 0.29543756],
       [0.65653243, 0.34346757],
       [0.26993192, 0.73006808],
       [0.48139342, 0.51860658],
       [0.86145556, 0.13854444],
       [0.86509373, 0.13490627],
       [0.58393926, 0.41606074],
       [0.69179329, 0.30820671],
       [0.66520268, 0.33479732],
       [0.74029405, 0.25970595],
       [0.39518321, 0.60481679],
       [0.67416974, 0.32583026],
       [0.80800171, 0.19199829],
       [0.72447354, 0.27552646],
       [0.52204913, 0.47795087],
       [0.76340106, 0.23659894],
       [0.40557198, 0.59442802],
       [0.7353416 , 0.2646584 ],
       [0.78587511, 0.21412489],
       [0.59718181, 0.40281819],
       [0.73858678, 0.26141322],
       [0.7192192 , 0.2807808 ],
       [0.67443669, 0.32556331],
       [0.12597231, 0.87402769],
       [0.12597231, 0.87402769],
       [0.14507099, 0.85492901],
       [0.83745459, 0.16254541],
       [0.73427583, 0.26572417],
       [0.81997316, 0.18002684],
       [0.52172862, 0.47827138],
       [0.24373202, 0.75626798],
       [0.88096546, 0.11903454],
       [0.69179329, 0.30820671],
       [0.84681598, 0.15318402],
       [0.16994477, 0.83005523],
       [0.70365374, 0.29634626],
       [0.69179329, 0.30820671],
       [0.89211965, 0.10788035],
       [0.87683151, 0.12316849],
       [0.85587262, 0.14412738],
       [0.87993797, 0.12006203],
       [0.88242081, 0.11757919],
       [0.59115528, 0.40884472],
       [0.35613827, 0.64386173],
       [0.24632301, 0.75367699],
       [0.74949695, 0.25050305],
       [0.82316998, 0.17683002],
       [0.61474835, 0.38525165],
       [0.53548324, 0.46451676],
       [0.83265834, 0.16734166],
       [0.3128006 , 0.6871994 ],
       [0.78143846, 0.21856154],
       [0.24354504, 0.75645496],
       [0.6784555 , 0.3215445 ],
       [0.38186839, 0.61813161],
       [0.71773837, 0.28226163],
       [0.79233093, 0.20766907],
       [0.62724396, 0.37275604],
       [0.68123227, 0.31876773],
       [0.92201239, 0.07798761],
       [0.20419795, 0.79580205],
       [0.41454971, 0.58545029],
       [0.874327  , 0.125673  ],
       [0.70456244, 0.29543756],
       [0.66026244, 0.33973756],
       [0.5934865 , 0.4065135 ],
       [0.85489342, 0.14510658],
       [0.78992724, 0.21007276],
       [0.18042975, 0.81957025],
       [0.44679443, 0.55320557],
       [0.60448342, 0.39551658],
       [0.66940034, 0.33059966],
       [0.60448342, 0.39551658],
       [0.66520268, 0.33479732],
       [0.70523931, 0.29476069],
       [0.86122432, 0.13877568],
       [0.89861264, 0.10138736],
       [0.78920255, 0.21079745],
       [0.77592514, 0.22407486],
       [0.80836095, 0.19163905],
       [0.5919415 , 0.4080585 ],
       [0.89861264, 0.10138736],
       [0.80070732, 0.19929268],
       [0.63140758, 0.36859242],
       [0.73640463, 0.26359537],
       [0.49888753, 0.50111247],
       [0.4848723 , 0.5151277 ],
       [0.82111488, 0.17888512],
       [0.82795335, 0.17204665],
       [0.79839332, 0.20160668],
       [0.81553553, 0.18446447],
       [0.76548743, 0.23451257],
       [0.52771971, 0.47228029],
       [0.83412673, 0.16587327],
       [0.78587511, 0.21412489],
       [0.84075217, 0.15924783],
       [0.21702757, 0.78297243],
       [0.86386746, 0.13613254],
       [0.6784555 , 0.3215445 ],
       [0.25442234, 0.74557766],
       [0.20168813, 0.79831187],
       [0.52172862, 0.47827138],
       [0.11094718, 0.88905282],
       [0.64130077, 0.35869923],
       [0.71221346, 0.28778654],
       [0.87075243, 0.12924757],
       [0.24250023, 0.75749977],
       [0.1064896 , 0.8935104 ],
       [0.53439816, 0.46560184],
       [0.82557112, 0.17442888],
       [0.90917987, 0.09082013],
       [0.78926945, 0.21073055],
       [0.58729523, 0.41270477],
       [0.11791703, 0.88208297],
       [0.8925387 , 0.1074613 ],
       [0.74988955, 0.25011045],
       [0.71738249, 0.28261751],
       [0.84738091, 0.15261909],
       [0.72032236, 0.27967764],
       [0.80596361, 0.19403639],
       [0.61819894, 0.38180106],
       [0.72191303, 0.27808697],
       [0.71909067, 0.28090933],
       [0.80384571, 0.19615429],
       [0.78144671, 0.21855329],
       [0.81884624, 0.18115376],
       [0.91091418, 0.08908582],
       [0.23681886, 0.76318114],
       [0.58628283, 0.41371717],
       [0.78873675, 0.21126325],
       [0.63797274, 0.36202726],
       [0.77325115, 0.22674885],
       [0.86653197, 0.13346803],
       [0.89644554, 0.10355446],
       [0.4518896 , 0.5481104 ],
       [0.6645324 , 0.3354676 ],
       [0.78873675, 0.21126325],
       [0.12810176, 0.87189824],
       [0.75177479, 0.24822521],
       [0.80504373, 0.19495627],
       [0.90021002, 0.09978998],
       [0.62443935, 0.37556065],
       [0.40260019, 0.59739981],
       [0.80911826, 0.19088174],
       [0.68376385, 0.31623615],
       [0.77954335, 0.22045665],
       [0.78143846, 0.21856154],
       [0.71102081, 0.28897919],
       [0.56768383, 0.43231617],
       [0.21451636, 0.78548364],
       [0.88471427, 0.11528573],
       [0.77631008, 0.22368992],
       [0.871013  , 0.128987  ],
       [0.80911826, 0.19088174],
       [0.85297231, 0.14702769],
       [0.77990276, 0.22009724],
       [0.84892344, 0.15107656],
       [0.25442234, 0.74557766],
       [0.68181081, 0.31818919],
       [0.07493381, 0.92506619],
       [0.80821907, 0.19178093],
       [0.61639983, 0.38360017],
       [0.57610079, 0.42389921],
       [0.6994599 , 0.3005401 ],
       [0.78148874, 0.21851126],
       [0.21685679, 0.78314321],
       [0.58046082, 0.41953918],
       [0.0794822 , 0.9205178 ],
       [0.29717533, 0.70282467],
       [0.16991769, 0.83008231],
       [0.78632429, 0.21367571],
       [0.18034585, 0.81965415],
       [0.88320866, 0.11679134],
       [0.75724457, 0.24275543],
       [0.78604984, 0.21395016],
       [0.1064896 , 0.8935104 ],
       [0.47767403, 0.52232597],
       [0.21873457, 0.78126543],
       [0.75047916, 0.24952084],
       [0.5408557 , 0.4591443 ],
       [0.70750807, 0.29249193],
       [0.23038627, 0.76961373],
       [0.84217015, 0.15782985],
       [0.15924159, 0.84075841],
       [0.53650677, 0.46349323],
       [0.77153501, 0.22846499],
       [0.5070834 , 0.4929166 ],
       [0.59343246, 0.40656754],
       [0.54498469, 0.45501531],
       [0.70434187, 0.29565813],
       [0.80070732, 0.19929268],
       [0.88471427, 0.11528573],
       [0.91091418, 0.08908582],
       [0.65013148, 0.34986852],
       [0.71405815, 0.28594185],
       [0.77459828, 0.22540172],
       [0.84490219, 0.15509781],
       [0.7061228 , 0.2938772 ],
       [0.78065053, 0.21934947],
       [0.89434339, 0.10565661],
       [0.83059548, 0.16940452],
       [0.85365689, 0.14634311],
       [0.70637497, 0.29362503],
       [0.77347895, 0.22652105],
       [0.24936883, 0.75063117],
       [0.53629253, 0.46370747],
       [0.15248649, 0.84751351],
       [0.72388232, 0.27611768],
       [0.22593903, 0.77406097],
       [0.73640463, 0.26359537],
       [0.7236825 , 0.2763175 ],
       [0.70301865, 0.29698135],
       [0.85612385, 0.14387615],
       [0.11740411, 0.88259589],
       [0.14303938, 0.85696062],
       [0.6471371 , 0.3528629 ],
       [0.1561678 , 0.8438322 ],
       [0.80911826, 0.19088174]])

In [125]:
test[["ID"]]

       ID
0    1501
1    1502
2    1503
3    1504
4    1505
..    ...
481  1982
482  1983
483  1984
484  1985
485  1986

[486 rows x 1 columns]

In [134]:
final_pred = pd.DataFrame(pred_test[:, 1], columns=["predict_prob"])
final_pred

     predict_prob
0        0.194956
1        0.240083
2        0.146343
3        0.221859
4        0.107461
..            ...
481      0.882596
482      0.856961
483      0.352863
484      0.843832
485      0.190882

[486 rows x 1 columns]

In [135]:
final = pd.concat([test[['ID']], final_pred], axis = 1)
final

       ID  predict_prob
0    1501      0.194956
1    1502      0.240083
2    1503      0.146343
3    1504      0.221859
4    1505      0.107461
..    ...           ...
481  1982      0.882596
482  1983      0.856961
483  1984      0.352863
484  1985      0.843832
485  1986      0.190882

[486 rows x 2 columns]

In [136]:
final.to_csv("dfdf.csv")