### 범주형 변수 변환 
- 독립변수(X)에 범주형 변수가 있을 경우 원핫인코딩을 적용
- 원핫인코딩은 특점 범주만 표현하기 위해 적용할 수 있는 기법

In [1]:
import pandas as pd 
data =  pd.read_csv('../Data/vote.csv', encoding = 'utf-8')
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [2]:
X1 = data[['gender', 'region']]

XY = data[['edu', 'income', 'age', 'score_gov', 'score_progress', 'score_intention', 'vote', 'parties']]
# 원핫인코딩을 할 대상을 나눔

In [3]:
X1['gender'] = X1['gender'].replace([1,2], ['male', 'female'])
X1['region'] = X1['region'].replace([1,2,3,4,5], ['seoul', 'busan', 'incheon', 'ulsan', 'kyungki'])
# 숫자로 된 범주형 변수를 문자로 변환

/var/folders/rn/572w08lj1f91tkntfly8qw7h0000gn/T/ipykernel_3119/393455542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['gender'] = X1['gender'].replace([1,2], ['male', 'female'])
/var/folders/rn/572w08lj1f91tkntfly8qw7h0000gn/T/ipykernel_3119/393455542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['region'] = X1['region'].replace([1,2,3,4,5], ['seoul', 'busan', 'incheon', 'ulsan', 'kyungki'])

In [6]:
X1_dummy = pd.get_dummies(X1)
print(X1_dummy)
# 범주형 변수를 더미변수로 바꾸기 위해서 pd.get_dummies()함수 활용

     gender_female  gender_male  region_busan  region_incheon  region_kyungki  \
0                0            1             0               0               0
1                0            1             0               0               1
2                0            1             0               1               0
3                1            0             0               0               0
4                0            1             0               0               0
..             ...          ...           ...             ...             ...
206              0            1             0               0               0
207              0            1             0               0               0
208              0            1             1               0               0
209              0            1             0               0               0
210              1            0             0               0               0

     region_seoul  region_ulsan
0               0             1
1               0             0
2               0             0
3               1             0
4               1             0
..            ...           ...
206             0             1
207             1             0
208             0             0
209             1             0
210             1             0

[211 rows x 7 columns]

In [7]:
Fvote = pd.concat([X1_dummy, XY], axis = 1)
Fvote

,gender_female,gender_male,region_busan,region_incheon,region_kyungki,region_seoul,region_ulsan,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,0,1,0,0,0,0,1,1,4,4,3,3,1.8,1,2
207,0,1,0,0,0,1,0,2,1,2,3,4,2.6,1,4
208,0,1,1,0,0,0,0,2,1,2,3,3,2.6,1,2
209,0,1,0,0,0,1,0,2,3,4,3,2,4.0,1,4
210,1,0,0,0,0,1,0,2,2,2,3,3,3.8,1,2

In [9]:
Fvote.to_csv('DummyVariables.csv', index=False, sep=',', encoding='utf-8')