### 데이터 정규화

In [3]:
import pandas as pd 
data = pd.read_csv('DummyVariables.csv', encoding = "utf-8")
data.head()

,gender_female,gender_male,region_busan,region_incheon,region_kyungki,region_seoul,region_ulsan,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [4]:
X = data.loc[:, "gender_female" : "score_intention"]
y = data[['vote']]

In [5]:
from sklearn.model_selection import * 
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state = 410)
print(X_train.shape)
print(y_train.shape)

(158, 13)
(158, 1)

In [6]:
from sklearn.preprocessing import *
minmax = MinMaxScaler() 
minmax.fit(X_train)

MinMaxScaler()

In [7]:
X_train_minmax = minmax.transform(X_train)
X_test_minmax = minmax.transform(X_test)

In [9]:
pd.DataFrame(X_train_minmax).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,0.316456,0.683544,0.101266,0.088608,0.088608,0.613924,0.107595,0.446203,0.421941,0.559072,0.509494,0.550633,0.480063
std,0.466572,0.466572,0.302640,0.285080,0.285080,0.488396,0.310853,0.312099,0.359715,0.274588,0.240895,0.233976,0.174391
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.333333,0.312500,0.500000,0.362500
50%,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500000,0.333333,0.666667,0.500000,0.500000,0.500000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500000,0.666667,0.666667,0.750000,0.750000,0.550000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
from sklearn.linear_model import *
model = LogisticRegression()

In [11]:
model.fit(X_train_minmax, y_train)

/Users/sig6774/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [12]:
pred_train = model.predict(X_train_minmax)
model.score(X_train_minmax, y_train)

0.7215189873417721

In [13]:
pred_test = model.predict(X_test_minmax)
model.score(X_test_minmax, y_test)

0.7547169811320755

In [14]:
from sklearn.metrics import *
confusion_train = confusion_matrix(y_train, pred_train)
print(confusion_train)

[[  6  40]
 [  4 108]]

In [15]:
confusion_test = confusion_matrix(y_test, pred_test)
print(confusion_test)

[[ 4 11]
 [ 2 36]]