### Boston Housing 데이터셋이다. crim 항목의 상위에서 10번째 값으로 상위 10개의 값을 변환하고 age가 80이상인 값에 대하여 crim 평균을 구하시오

In [1]:
import pandas as pd 
data = pd.read_csv("../Data/3rd_boston_housing.csv", encoding="utf-8")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,pratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
help(pd.DataFrame.describe)

Help on function describe in module pandas.core.generic:

describe(self: 'NDFrameT', percentiles=None, include=None, exclude=None, datetime_is_numeric=False) -> 'NDFrameT'
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(exclude=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.
    datetime_is_numeric : bool, default False
        Whether to treat datetime dtypes as numeric. This affects statistics
        calculated for the column. For DataFrame input, this also
        controls whether datetime columns are included by default.

        .. versionadded:: 1.1.0

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...   np.datetime64("2000-01-01"),
    ...   np.datetime64("2010-01-01"),
    ...   np.datetime64("2010-01-01")
    ... ])
    >>> s.describe(datetime_is_numeric=True)
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              d
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

In [26]:
print(data.sort_values(by='crim', ascending=False))

         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
380  88.97620   0.0  18.10     0  0.671  6.968   91.9  1.4165   24  666
418  73.53410   0.0  18.10     0  0.679  5.957  100.0  1.8026   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
410  51.13580   0.0  18.10     0  0.597  5.757  100.0  1.4130   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
55    0.01311  90.0   1.22     0  0.403  7.249   21.9  8.6966    5  226
341   0.01301  35.0   1.52     0  0.442  7.241   49.3  7.0379    1  284
285   0.01096  55.0   2.25     0  0.389  6.453   31.9  7.3073    1  300
284   0.00906  90.0   2.97     0  0.400  7.088   20.8  7.3073    1  285
0     0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296

     pratio       b  lstat  medv
380    20.2  396.90  17.21  10.4
418    20.2   16.45  20.62   8.8
405    20.2  384.97  22.98   5.0
410    20.2    2.60  10.11  15.0
414    20.2   88.27  36.98   7.0
..      ...     ...    ...   ...
55     17.9  395.93   4.81  35.4
341    15.5  394.74   5.49  32.7
285    15.3  394.72   8.23  22.0
284    15.3  394.72   7.85  32.2
0      15.3  396.90   4.98  24.0

[506 rows x 14 columns]

In [52]:
data_sort = data.sort_values(by='crim', ascending=False)

In [53]:
data_sort.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,pratio,b,lstat,medv
380,88.9762,0.0,18.1,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
418,73.5341,0.0,18.1,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
405,67.9208,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
410,51.1358,0.0,18.1,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
414,45.7461,0.0,18.1,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
404,41.5292,0.0,18.1,0,0.693,5.531,85.4,1.6074,24,666,20.2,329.46,27.38,8.5
398,38.3518,0.0,18.1,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
427,37.6619,0.0,18.1,0,0.679,6.202,78.7,1.8629,24,666,20.2,18.82,14.52,10.9
413,28.6558,0.0,18.1,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0,0.679,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4

In [35]:
standard = data_sort[9:10]['crim']
print(standard)

417    25.9406
Name: crim, dtype: float64

In [54]:
def recreate(series):
    if series >= 25.9406:
        return 25.9406
    else:
        return series

In [55]:
data_sort['crim'].apply(recreate)

380    25.94060
418    25.94060
405    25.94060
410    25.94060
414    25.94060
         ...
55      0.01311
341     0.01301
285     0.01096
284     0.00906
0       0.00632
Name: crim, Length: 506, dtype: float64

In [56]:
data_sort['re_crim'] = data_sort['crim'].apply(recreate)
print(data_sort.head(10))

        crim   zn  indus  chas    nox     rm    age     dis  rad  tax  pratio  \
380  88.9762  0.0   18.1     0  0.671  6.968   91.9  1.4165   24  666    20.2
418  73.5341  0.0   18.1     0  0.679  5.957  100.0  1.8026   24  666    20.2
405  67.9208  0.0   18.1     0  0.693  5.683  100.0  1.4254   24  666    20.2
410  51.1358  0.0   18.1     0  0.597  5.757  100.0  1.4130   24  666    20.2
414  45.7461  0.0   18.1     0  0.693  4.519  100.0  1.6582   24  666    20.2
404  41.5292  0.0   18.1     0  0.693  5.531   85.4  1.6074   24  666    20.2
398  38.3518  0.0   18.1     0  0.693  5.453  100.0  1.4896   24  666    20.2
427  37.6619  0.0   18.1     0  0.679  6.202   78.7  1.8629   24  666    20.2
413  28.6558  0.0   18.1     0  0.597  5.155  100.0  1.5894   24  666    20.2
417  25.9406  0.0   18.1     0  0.679  5.304   89.1  1.6475   24  666    20.2

          b  lstat  medv  re_crim
380  396.90  17.21  10.4  25.9406
418   16.45  20.62   8.8  25.9406
405  384.97  22.98   5.0  25.9406
410    2.60  10.11  15.0  25.9406
414   88.27  36.98   7.0  25.9406
404  329.46  27.38   8.5  25.9406
398  396.90  30.59   5.0  25.9406
427   18.82  14.52  10.9  25.9406
413  210.97  20.08  16.3  25.9406
417  127.36  26.64  10.4  25.9406

In [60]:
data_sort_age = data_sort[(data_sort['age'] >= 80)]
data_sort_age

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,pratio,b,lstat,medv,re_crim
380,88.97620,0.0,18.10,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4,25.94060
418,73.53410,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8,25.94060
405,67.92080,0.0,18.10,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0,25.94060
410,51.13580,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0,25.94060
414,45.74610,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0,25.94060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,0.07013,0.0,13.89,0,0.550,6.642,85.1,3.4211,5,276,16.4,392.78,9.69,28.7,0.07013
180,0.06588,0.0,2.46,0,0.488,7.765,83.3,2.7410,3,193,17.8,395.56,7.56,39.8,0.06588
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,0.06076
88,0.05660,0.0,3.41,0,0.489,7.007,86.3,3.4217,2,270,17.8,396.90,5.50,23.6,0.05660
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,0.04741

In [63]:
data_sort_age['re_crim'].describe()

count    240.000000
mean       5.759387
std        7.094281
min        0.047410
25%        0.380550
50%        2.373980
75%        9.033975
max       25.940600
Name: re_crim, dtype: float64